In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
options = webdriver.ChromeOptions()
options.add_argument("headless")
driver = webdriver.Chrome('C:\python37\Scripts\chromedriver', options=options)

In [3]:
states=[]
cases=[]
deaths=[]
recoveries=[]
active=[]
driver.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_India")

In [4]:
content = driver.page_source
soup = bs(content)
s = soup.find_all('table', class_="wikitable plainrowheaders sortable jquery-tablesorter")[0]
States_ = s.find_all('tbody')[0]
for i in range(36):
    row = States_.find_all('tr')[i]
    info = row.text.strip().split("\n")
#     print(info)
    states.append(info[0])
    cases.append(info[2])
    deaths.append(info[4])
    recoveries.append(info[6])
    active.append(info[8])
# print(len(states))
# print(len(cases))
# print(len(deaths))
# print(len(recoveries))
# print(len(active))
# # print(states)
# print(cases)
# print(deaths)
# print(recoveries)
# print(active)

In [5]:
Cd= pd.DataFrame({'States Affected':states,'Number of Cases':cases,'Death Count':deaths,'Recovery Count':recoveries,'Number of Active Cases':active})
Cd.to_csv('CoronaData.csv')
Cd

,States Affected,Number of Cases,Death Count,Recovery Count,Number of Active Cases
0,Andaman and Nicobar Islands,"3,774",52,"3,551",171
1,Andhra Pradesh,"668,751","5,663","597,294","65,794"
2,Arunachal Pradesh,"8,869",14,"6,397","2,458"
3,Assam,"169,110[b]",638,"138,310","30,162"
4,Bihar,"177,072",886,"163,432","12,754"
5,Chandigarh,"11,380",145,"8,937","2,298"
6,Chhattisgarh,"102,461",817,"70,955","30,689"
7,Dadra and Nagar Haveli and Daman and Diu,"2,996",2,"2,831",163
8,Delhi,"267,822","5,193","232,912","29,717"
9,Goa,"31,574",391,"25,759","5,424"
10,Gujarat,"131,646","3,406","111,777","16,463"
11,Haryana,"122,267","1,291","103,827","17,149"
12,Himachal Pradesh,"13,996",164,"9,728","4,104"
13,Jammu and Kashmir,"71,049","1,125","51,494","18,430"
14,Jharkhand,"78,935",670,"65,839","12,426"
15,Karnataka,"566,023","8,503","455,719","101,801"
16,Kerala,"167,939",656[c],"114,530","52,753"
17,Ladakh,"4,093",57,"3,018","1,018"
18,Lakshadweep,0,0,0,0
19,Madhya Pradesh,"119,899","2,181","95,490","22,228"
20,Maharashtra,"1,321,176","35,191","1,016,450","269,535"
21,Manipur,"10,051",64,"7,681","2,306"
22,Meghalaya,"5,212",43,"3,654","1,515"
23,Mizoram,"1,865",0,"1,316",549
24,Nagaland,"5,862",16,"4,819","1,027"
25,Odisha,"205,452",783,"170,193","34,476"
26,Puducherry,"26,032",500,"20,205","5,327"
27,Punjab,"108,684","3,188","86,013","19,483"
28,Rajasthan,"126,775","1,426","105,994","19,355"
29,Sikkim,"2,833",31,"2,097",705
30,Tamil Nadu,"575,017","9,233","519,448","46,336"
31,Telangana,"185,833","1,100","154,499","30,234"
32,Tripura,"24,728",270,"18,392","6,066"
33,Uttarakhand,"46,281",566,"34,859","10,856"
34,Uttar Pradesh,"382,835","5,517","320,232","57,086"
35,West Bengal,"244,240","4,721","213,975","25,544"